schemas/Metapodaci.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.tim12.com/sema/metapodaci"
    xmlns:mp="http://www.tim12.com/sema/metapodaci">
    <xs:complexType name="TMetapodaci">
        <xs:sequence>
            <xs:element name="Datum" type="xs:date"/>
            <xs:element name="Id" type="xs:unsignedLong"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
